@import "../../styles/vars";

.users-stats {
  @media screen and (min-width: 1300px) {
    .charts-container {
      display: flex;
      align-items: center;
    }
  }
}

.chart-wrapper {
  display: inline-block;
}
