.grid {
  display: inline-block;
  max-width: 90vw;
  overflow: scroll;
  .grid-table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  .grid-body,
  .grid-header {
    border-collapse: collapse;
  }

  section {
    display: inline-block;
    position: relative;
    padding-top: calc(27px + 0.7vmin);
    background-color: cadetblue;
    border: none;
    border-bottom: solid lightgrey 2px;
  }

  .container {
    background-color: white;
    max-height: 70vh;
    overflow-y: auto;
  }

  .grid-title {
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    text-align: left;
    border: solid white 1px;
    background-color: white;
    padding: 1vmin 1vmin 1vmin 0;
  }

  .grid-row {
    border: solid lightgrey 2px;
    border-width: 0px 2px 2px 2px;
  }

  .header-cell {
    border: none;
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    color: transparent;
    .fixed {
      border: none;
      position: absolute;
      background-color: transparent;
      color: white;
      padding: 3px 5px 9px;
      top: 0;
      line-height: normal;
      font-size: calc(10px + 0.7vmin);
    }
  }

  .data-cell {
    text-align: left;
    border: solid lightgrey 2px;
    padding: 0.4em 4vmin 0.4em 0.5em;
    white-space: nowrap;
    font-size: calc(10px + 0.7vmin);
  }
}
