@import "../../styles/vars";
@import "../../styles/mixins";

.App {
  text-align: center;
}

.App > div {
  border: solid green 1px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.app-content {
  flex: 1;
}

footer {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  a {
    color: white;
    text-decoration: none;
    padding: 1.5vmin;
    @include navHover();
  }
}
