@import "../../styles/vars";
@import "../../styles/mixins";

.App {
  text-align: center;
}

.App > div {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.app-content {
  flex: 1;
  .main-content {
    height: 100%;
    overflow: scroll;
    .title {
      text-align: left;
      background-color: $cadetblue;
      color: $lightgrey;
      padding: 0.5vmin 1vmin 0.6vmin 2.5vmin;
      margin: 0 0 5vmin 0;
      font-size: 1.2em;
    }
  }
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  a {
    color: white;
    text-decoration: none;
    padding: 1.5vmin;
    @include navHover();
  }
}
