@import "../../styles/vars";

.app-header {
  padding: 0.5vmin 1vmin 0.5vmin 2.5vmin;
  min-height: 5vh;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: white;
    font-size: calc(10px + 2vmin);
    a {
      padding: 0;
    }
    &:hover {
      a {
        color: white;
      }
    }
  }
}
